@import url("https://fonts.googleapis.com/css2?family=Overpass+Mono:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");

@import "../utils/variables.scss";

.food {
  display: grid;
  grid-template-columns: repeat(7, minmax(min-content, 1fr));
  grid-template-rows: repeat(3, minmax(min-content, max-content));

  width: 100vw;

  align-items: center;
  justify-items: center;

  font-family: "Overpass Mono", monospace;

  background-color: $beige;

  &_category {
    position: relative;
    display: flex;
    flex-direction: column;

    justify-content: space-between;

    padding: 8rem 2rem;

    z-index: 989;

    color: $maron;

    overflow: hidden;

    &--1,
    &--2,
    &--3 {
      grid-column: 1 / -1;
    }

    &--1 {
      width: 100%;
    }
  }

  &_courses {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10rem;

    padding: 4rem 8rem;

    & > h3 {
      font-family: "Road Rage", cursive;
      font-size: 3rem;
      letter-spacing: 0.5rem;
      font-weight: 100;

      text-align: center;
      color: $maron;
    }

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;

      margin-top: 8rem;

      &:hover {
        .food_courses-content_image {
          opacity: 1;
          transform: translateX(50rem);
        }
        & > p {
          transform: translateX(-15rem);
        }
      }

      & > p {
        width: 50%;
        padding: 2rem 3rem;
        font-size: 1.6rem;
        text-align: center;
        vertical-align: middle;
        transition: all 0.3s;
      }
      &_image {
        position: absolute;
        transition: all 0.3s;
        opacity: 0;
        transform: translateX(100rem);

        & > img {
          width: 70%;
        }
      }
    }
  }
}

.image_container {
  grid-column: 1 / -1;
  height: 45rem;
  width: 100%;
  overflow: hidden;
  background-image: url("../images/steak.jpg");
  background-size: 100%;
  background-position: center;
}
