@import url("https://fonts.googleapis.com/css2?family=Road+Rage&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700&display=swap");

@import "../utils/variables.scss";

.food_courses {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 10rem;

  padding: 4rem 8rem;

  color: $maron;

  z-index: 1000;
  @media only screen and (max-width: 1694px) {
    width: 50%;
  }
  @media only screen and (max-width: 1460px) {
    width: 55%;
  }
  @media only screen and (max-width: 1320px) {
    width: 60%;
  }
  @media only screen and (max-width: 1164px) {
    width: 70%;
  }

  &:hover {
    .food_courses-content_image {
      opacity: 1;
      visibility: visible;
      transform: translateX(50rem);
    }
    .food_courses-content p {
      transform: translateX(-15rem);
    }
    .food_text > h3 {
      transform: translateX(-15rem);
    }
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 3rem;

    &_image {
      position: absolute;
      transition: all 0.3s;
      opacity: 0;
      visibility: hidden;
      transform: translateX(100rem);

      &:hover {
        & > img {
          width: 100%;
          @media only screen and (max-width: 1460px) {
            width: 80%;
          }
          @media only screen and (max-width: 1320px) {
            width: 70%;
          }
          @media only screen and (max-width: 1164px) {
            width: 60%;
          }
        }
      }

      & > img {
        width: 70%;
        transition: all 0.3s;
        @media only screen and (max-width: 1320px) {
          width: 60%;
        }
        @media only screen and (max-width: 1164px) {
          width: 50%;
        }
      }
    }
  }
}

.food_text {
  & > h3 {
    font-family: "Road Rage", cursive;
    font-size: 3rem;
    letter-spacing: 5px;
    font-weight: 100;

    text-align: center;

    transition: all 0.3s;
  }
  & > p {
    width: 100%;
    padding: 2rem 3rem;

    font-family: "Podkova", serif;
    // font-family: "Dosis", sans-serif;
    font-weight: 500;
    font-size: 1.9rem;
    line-height: 3.8rem;

    letter-spacing: 1px;
    text-align: center;

    transition: all 0.3s;
  }
}

.image_container {
  grid-column: 1 / -1;
  height: 45rem;
  width: 100%;

  overflow: hidden;
  background-image: url("../images/steak.jpg");
  background-size: 100%;
  background-position: center;
}
